{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.json", "*.md", "*.yml", "*.yaml"],
      "options": { "singleQuote": false }
    },
    {
      "files": ["frontend/**/*.{ts,tsx,css}"],
      "options": { "singleQuote": false }
    }
  ]
}
